html {
    box-sizing: border-box;
}

html body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(168, 173, 231);

}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    display: flex;
    justify-content: center;
}

.gridBorder {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

#parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 42rem;
    margin-top: 2rem;
}

.Instructions {
    display: flex;
    justify-content: center;
}

.buttonSelector {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.buttonSelector button {
    padding: 6px;
}

.divSquareOne {
    width: 31px;
    height: 31px;
    border: 1px solid grey;
    border: 1px solid rgb(84, 84, 84);
    background-color: rgb(227, 227, 227);
}

.divSquareTwo {
    width: 20.67px;
    height: 20.67px;
    border: 1px solid rgb(84, 84, 84);
    background-color: rgb(227, 227, 227);
}

.divSquareThree {
    width: 15.5px;
    height: 15.5px;
    border: 1px solid rgb(84, 84, 84);
    background-color: rgb(227, 227, 227);
}