html {
    box-sizing: border-box;
}

html body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(168, 173, 231);

}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
}

.gridBorder {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.topPageBackground {
    background-color: white;
    padding-top: 16px;
    padding-bottom: 12px;
    box-shadow: 4px 4px 4px 0px rgba(37, 37, 37, 0.322);
    
}

#parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 34rem;
    margin-top: 2rem;
    gap: 24px;
    margin-top: 2rem;
}

.instructions {
    display: flex;
    justify-content: center;
}

.instructions p {
    width: 500px;
}


.buttonSelector button {
    padding: 16px;
}

.divSquareOne {
    width: 31px;
    height: 31px;
    /* border: 1px solid grey; */
    border: 1px solid rgb(63, 63, 63);
    background-color: rgb(227, 227, 227);
}

.divSquareTwo {
    width: 20.67px;
    height: 20.67px;
    border: 1px solid rgb(63, 63, 63);
    background-color: rgb(227, 227, 227);
}

.divSquareThree {
    width: 15.5px;
    height: 15.5px;
    border: 1px solid rgb(63, 63, 63);
    background-color: rgb(227, 227, 227);
}

.buttonGridSelectors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    height: 400px;
    
}

.buttonColorSelector button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 84px;
    height: 40px;
    font-size: 16px;
    border: 2px solid black;

}


.buttonGridSelectors button {
    padding: 6px;
    border: 2px solid black;
    border-radius: 8px;
    width: 75px;
    height: 40px;
    background-color: rgb(226, 226, 226);
    font-size: 16px;
}

.greenButtonSelector {
    background-color: rgb(69, 179, 69);
    font-family:'Courier New', Courier, monospace;
}

.rainbowButtonSelector {
    background: linear-gradient(blue, green, brown, purple,  orange);
    color: rgb(235, 235, 235);
}

.redButtonSelector {
    background-color: rgb(245, 50, 50);
    
}

.buttonColorSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    height: 400px;
}

.eraseButtonContainer {
    display: flex;
    justify-content: center;
}

.instructions {
    display: flex;
    justify-content: center;
}
